.container {
  /* Add any additional styling for the container if needed */
}

.about-me-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: 1rem;
  align-items: center;
  text-align: center;
  color: #0d1f22;
  position: relative;
}

.picContainer {
  position: relative;
  padding-bottom: 47.5%; /* Maintain aspect ratio for responsive height */
}

.avatar {
  background: linear-gradient(180deg, #ffffff33, #574a589d);
  box-shadow: 3px 3px 6px 5px rgba(0, 0, 255, 0.1);
  border-radius: 25px;
  width: 100%; /* Responsive width */
  height: 100%; /* Maintain aspect ratio for responsive height */
  position: absolute;
  top: 0;
  left: 0;
}

.avatar img {
  width: 50%; /* Responsive width */
  height: 100%; /* Maintain aspect ratio for responsive height */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* .hi {
  background-color: #dcd4cc;
  position: absolute;
  z-index: 2;
  top: 85%;  Adjust the position 
  left: 50%;
  transform: translateX(-50%);
  width: 100%;  Responsive width 
  padding: 10px;  Add some padding for content
  border-radius: 25px;
} */

/* .bio {
  max-width: 100%;  Responsive max-width 
  margin: 0 auto;
} */

@media only screen and (max-width: 650px) {
  .about-me-container {
    grid-template-columns: 1fr;
  }
}