/* Contact.css */

.contact {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.contact-form {
  max-width: 500px;
  width: 100%;
  padding: 20px 45px 20px 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.contact-form button {
  display: block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #574a589d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.contact-form button:hover {
  background-color: #d3d8dd;
}

.notification {
  color: #8e74ec;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 15px;
  text-transform: uppercase; /* Add this line to render messages in uppercase */
}

/* Media Query for Small Screens */
@media (max-width: 768px) {

  .email{
    font-size: 3vw;
  }
}

@media (max-width: 576px) {
  .contact-form {
    width: 50%;
  }
  .contact-form label {
   font-size: 4vw;
  }
  .contact-form button {
    padding: 5px 10px;
    font-size: 3vw;
   
  }
}