header{
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-bottom: 1px solid black;
}

.nameLogo{
font-family: "Glass Antiqua";
font-size: 4rem;
margin: 1rem;
padding-left: 1rem;
letter-spacing: 0.5rem; 
}

.titleLogo{
    font-size: 2rem;
    font-weight: lighter;
    padding-left: 10rem;
    margin-top: -1rem; /* Adjust top margin */
    letter-spacing: 0.5rem; /* Adjust letter spacing */
}
    