/* Navigation.css */
nav {
  padding: 0;
  margin: 0;
}

.navigation-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navigation-list li {
  margin: 0 15px;
  cursor: pointer;
  padding-bottom: 10px;
  font-size: 2vw; 
  transition: font-size 0.15s; /* Add a smooth transition for font size changes */
}

.navigation-list li.active {
  font-weight: bold;
}

