html{
  background-image: url('./images/bg.png');
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
  font-family: Montserrat, Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
}

/* .container{

} */

h2{
  padding: 10px;
}